/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
// import your own custom files, e.g.
// @import "variables";
// @import "global";

* {
    box-sizing: border-box;
}

body {
    background-color: #0e131b;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    background: green;
    color: white;
}

.failure-snackbar {
    background: red;
    color: white;
}
