<div class="card zebra-card hvr-grow">
  <img *ngIf="enableModifiers" (click)="deleteCourse()" class="delete-icon" src="../../assets/delete-24px.svg">
  <img *ngIf="enableModifiers" (click)="editCourse()" class="edit-icon" src="../../assets/create-24px.svg">
  <img class="card-img-top" [src]="course.image" />
  <div class="card-body">
    <h3 class="card-title">{{ course.name }}</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Semester: </b> {{ course.semester }}</li>
      <li class="list-group-item"><b>ECTS:</b> {{ course.ects }}</li>
      <li class="list-group-item"><b>Form:</b> {{ course.courseForm }}</li>
      <li class="list-group-item">
        <b>Rating:</b> <span class="text-warning">{{getStarsString()}}</span> {{ currentRating | number: "1.2-2" }}
      </li>
    </ul>
  </div>
  <div class="card-footer text-center">
    <a [routerLink]="['/courses', course._id]" class="btn btn-dark"
      >Check course</a
    >
  </div>
</div>
