.course {
    background: white;
    margin-top: 50px;
    .course-img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.teacher-select {
    font-weight: 600;
    &:hover {
        cursor: pointer;
    }
}

.card-body {
    padding: 0.6rem;
}