<div class="container course">
  <div class="row">
    <figure class="col-md-4 pt-2">
      <img class="course-img" [src]="course.image">
    </figure>
    <div class="col-md-8">
      <h2>{{course.name}}</h2>
      <p>{{course.description}}</p>

      <h4>Teachers:</h4>
      <ul>
        <li *ngFor="let teacher of getTeachers()">
          {{teacher.name}}
        </li>
      </ul>
    </div>
    <div class="col-12">
      <div class="teacher" *ngFor="let courseTeacher of course.courseTeachers">
        <h2>{{courseTeacher.teacher.name}}</h2>
        <div class="category" *ngFor="let category of courseTeacher.commentCategories">
          <h4>{{category.category}}</h4>
          <ul>
            <li *ngFor="let comment of category.comments">
              <p>{{comment.content}}</p>
            </li>
          </ul>

        </div>

      </div>
    </div>

  </div>
</div>
