@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

.navbar-dark {
    background-color: rgb(32, 29, 29);
    .navbar-nav .nav-link.active {
        color: #fff;
        font-weight: 500;
    }
}

.dropdown-item {
    border-radius: 10px;
    color: #5a5252;
    text-align: center;
    font-weight: 500;
    &:hover {
        background: #201d1d;
        color: white !important;
    }
}


.nav-link {
    color: black;
}

.user {
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    color: white;
    background: #0e131b;
}