<article *ngIf="user" class="card my-4 pb-2">
    <div class="card-body text-center">
        <div *ngIf="isEnrolled">
            <h3 *ngIf="!isRated" class="my-4">Rate course as you wish, remember not to be too violent!</h3>
            <h3 *ngIf="isRated" class="my-4">Your current course rating!</h3>
            <div>
                <ngb-rating class="stars" [(rate)]="currentRating" max="5" [readonly]="isRated"></ngb-rating>
            </div>
            <button
                *ngIf="!isRated"
                class="btn btn-success" 
                (click)="submit()"
                [disabled]="!currentRating"
            >
                Submit
            </button>
        </div>
        <h3 *ngIf="!isEnrolled" class="my-4" >Enroll on a course to rate it!</h3>
        
    </div>
</article>