<section class="card card-outline-secondary mt-2">
    <img class="card-img-top" [src]="teacher.image" />
    
    <div class="card-body">
      <h3 class="card-title">{{ teacher.name }}</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Phone: </b> {{ teacher.card.phone }}</li>
        <li class="list-group-item"><b>Email:</b> {{ teacher.card.email }}</li>
        <li class="list-group-item"><b>Home page:</b> {{ teacher.card.homePage }}</li>
      </ul>
    </div>

    <div class="card-body">
      <h3 class="card-title">Teacher ratings: </h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let category of ratingCategories">
          {{category.category}}: <span class="text-warning">{{category.stars}}</span> {{category.value | number: "1.2-2"}}
        </li>
      </ul>
    </div>
    <div class="card-footer  text-center">
      <a 
        (click)="showRateForm()" 
        class="btn btn-success"
        style="color: white"
      >
        Rate your teacher
      </a>
    </div>
 </section>

